<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="chat-display"></div>
    <div class="user-message">
      <label for="name">Name</label>
      <input type="text" name="name" id="username" />
      <label for="message">Message</label>
      <textarea name="message" cols="30" rows="10" id="message"></textarea>
      <button type="button">SEND</button>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/script.js"></script>
  </body>
</html>
